body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;

  background-color: rgba(188, 188, 188, 0.7);
  background: url("../img/background-photo.jpg") no-repeat top;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-inner-page {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.background-wrap {
  background-color: rgba(116, 116, 116, 0.5);
  background: url("../img/filter-background.jpg") no-repeat top;
}

.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-width: 1200px;
  background-color: #ffffff;
}

.main-navigation a {
  padding: 0;
  margin: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 72px;
  margin-left: 72px;

  list-style: none;
}

.site-navigation li {
  display: flex;
  width: 20%;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  justify-content: flex-end;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  justify-content: flex-start;
}

.site-navigation li:nth-child(1) {
  margin-right: 3%;
}

.site-navigation li:nth-child(2) {
  margin-right: 7%;
}

.site-navigation li:nth-child(3) {
  margin-left: 7%;
}

.site-navigation li:nth-child(4) {
  margin-left: 3%;
}

.site-navigation-current {
  color: #766357;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  display: block;
  color: #000000;
  padding: 0;
  margin: 0;	
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.welcome {
  display: flex;
  justify-content: center;
  margin-top: 76px;
  padding-bottom: 79px;

  background-color: #dceaf3;
  background: url("../img/polygon.svg") no-repeat bottom;
}

.welcom img {
  background-color: rgba(188, 188, 188, 0.5);
}

.welcome-title {
  display: flex;
  justify-content: space-around;
}

.sedona-reasons {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  text-align: center;

  background-color: #ffffff;
}

.sedona {
  font-size: 21px;
  margin: 0;
  margin-bottom: 31px;
  padding-right: 312px;
  padding-left: 312px;
}

.five-reasons {
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-bottom: 50px;
}

.reasons {
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.reasons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  list-style: none;
}

.reasons-list h3,
.recommendations-list h3 {
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.reason-1,
.reason-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  color: #ffffff;
  background-color: #81b3d2;
}

.recommendations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 82px;

  color: #000000;
  background-color: #ffffff;
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: 159px;
  width: 304px;
  padding-left: 48px;
  padding-right: 48px;
}

.recommendation p {
  margin: 0;
  padding: 0;
}

.recommendation h3 {
  position: relative;
  padding-bottom: 26px;
}

.recommendation-1 h3::before {
  content: "";
  position: absolute;
  top: -109px;
  left: 114px;

  width: 74px;
  height: 76px;
  background-color: #ffffff;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.recommendation-2 h3::before {
  content: "";
  position: absolute;
  top: -103px;
  left: 114px;
  width: 74px;
  height: 76px;
  background-color: #ffffff;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
} 

.recommendation-3 h3::before {
  content: "";
  position: absolute;
  top: -103px;
  left: 114px;

  width: 74px;
  height: 76px;
  background-color: #ffffff;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.reason-3,
.reason-4,
.reason-5 {
  background-color: #eeeeee;
  padding-bottom: 38px;
}

.reason-wrapper {
  width: 304px;
  padding-top: 46px;
  padding-left: 48px;
  padding-right: 48px;
}

.reason-wrapper h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  padding-right: 77px;
  padding-left: 76px;
}

.reason-wrapper p {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
}

.reason-1 img,
.reason-2 img {
  width: 800px;
  height: 256px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 291px;
  margin: 0;
  padding: 0;
}

.interested-block {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  background-color: #ffffff;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
}

.date {
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
}

.button-search-hotels {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 86px;
  border: 0;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.form-search-hotels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  justify-content: space-between;
  background-color: #ffffff;
  background-clip: padding-box;
  margin: 0 auto;
  margin-bottom: 78px;
  box-shadow: 0 7px 15px 0 rgba(0,1,1,0.15);
  display: none;
  animation-name: bounce;
  animation-duration: 1s;

  width: 458px;
  padding: 55px;
}

@keyframes bounce {
  0% { transform: translate(-50%,-100%);}
  100% {transform: translate(-50%,0%);}
}

.form-show {
  display: flex;
}

.map-search  img {
  display: block;
  padding: 0;
  margin: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 458px;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}

.input-wrapper label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 112px;
  margin: 0;
  padding: 0;
} 

.input-wrapper input {
  display: flex;
  box-sizing: border-box;
  width: 346px;
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 229px;

  border: 0;
  outline: 0;
  font: inherit;
  text-transform: uppercase;
}

.input-wrapper input {
  background-color: #f2f2f2;
}

.input-wrapper input:hover {
  background-color: #ebebeb;
}

.input-wrapper input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}
:-moz-placeholder           {color:#000000;}
:-ms-input-placeholder      {color:#000000;}

.calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  fill: #cacaca;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  outline: 0;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.namber-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
}

.namber-of {
  display: block;
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  text-align: center;
  outline: 0;
  font-weight: 700;
  background-color: #f2f2f2;
}

.button-plus,
.button-minus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: 0;
  width: 38px;
  height: 38px;
  font-size: 24px;
  font-weight: 700;

  color: #a9a9a9;
  background-color: #f2f2f2;
}

.button-plus:hover,
.button-minus:hover {
  color: #000000;
}

.button-plus:active,
.button-minus:active {
  color: #81b3d2;
}

.number-adults,
.number-children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
} 

.number-adults {
  margin-right: 3px;
  margin-left: 40px;
}

.number-children {
  margin-left: 27px;
}

.button-search {
  justify-content: space-around;
  width: 100%;
  height: 58px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 54px;
  outline: 0;
}

.button-search-hotels,
.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
 }

.button-search-hotels {
  background-color: #766357;
}

.button-search {
  background-color: #81b3d2;
}

.button-search-hotels:hover,
.button-reservation:hover {
  background-color: #604e43;
}

.button-search-hotels:active,
.button-reservation:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
 }

.main-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: -120px;
  padding-bottom: 36px;
  padding-top: 36px;

  color: #000000;
  background: url("../img/background-footer.png") no-repeat bottom;
}

 .visitsedona,
 .hotels-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
 }

 .hotels-name h3 {
  margin: 0;
  padding: 0;
}

.visitsedona {
  text-align: center;
  flex-basis: 400px;
 }

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  outline: 0;

  background-color: #81b3d2;
  text-decoration: none;
}

.footer-social li:not(:last-of-type) {
  margin-right: 6px;
}

.button-search:hover,
.social-button:hover,
.button-more:hover,
.social-button:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-more:active {
  color: #88b6d1;
}

.social-button svg {
  fill: #ffffff;
}

.social-button:active svg {
  fill: #88b6d1;
}

.social-button:focus svg {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 41px;
  justify-content: center;
  align-items: center;
  flex-basis: 400px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright p {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 8px;
}

.copyright {
  display: block;
  margin: 0;
  padding: 0;
}  

.footer-copyright svg {
  display: block;
  fill: #231f20;
}

.footer-copyright svg:hover {
  fill: #81b3d2;
}

.footer-copyright svg:active {
  fill: #bdbbbc;
}

.hotels {
  border-bottom: solid 1px #e5e5e5;
}

.hotels-name p {
  margin: 0;
  padding: 0;
  color: #333333;
}

.hotels-name:hover {
  color: #81b3d2;
}

.hotels-name:active {
  color: rgba(0,0,0,0.3);
}

.star {
  display: flex;
  justify-content: flex-end;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.two-star {
  width: 42px;
}

.three-star {
  width: 66px;
}

.four-star {
  width: 89px;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.hotels-list li {
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: solid 1px #e5e5e5;
  overflow: auto;
}

.button-more {
  width: 110px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 6px;
  text-align: center;

  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-reservation {
  width: 142px;
  height: 27px;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: #ffffff;
  background-color: #766357;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
  height: 28px;
  padding: 0;
  margin: 0;

  background-color: #f2f2f2;
  color: #666666;
}

.filters {
  width: 100%;
  margin-top: 77px;
}

.filter {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
}

.filter ul {
  padding: 0;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-right: 4%;
  margin-top: -49px;
  border: none;
  width: 20%;
}

.filter-option {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-left: 42px;

  font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  margin: 0;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -41px;
  top: -2px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-dis.svg");
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:checked:focus + label::before,
.filter-input-checkbox:checked:disabled:focus + label::before,
.filter-input-checkbox:disabled:focus + label::before {
  outline: 2px solid #3e93ff;
}

.filter legend {
  margin: 0;
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter ul {
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-range {
  width: 30%;
  margin-top: -49px;
  margin-bottom: 32px;
  margin-left: 22%;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 21px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 92px;
  padding-top: 5px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 54px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
  top: -10px;
  margin-left: -1px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 85px;
  margin-right: 96px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  padding: 30px 72px;
  background-color: #ffffff;
  border-bottom: solid 1px #e5e5e5;
}

.found-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.results h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.results h4,
.sort-by {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.results h4 {
  margin-right: 6px;
}

.results .sorting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.found {
  width: 59px;
  list-style: none;

  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}

.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-by {
  margin-left: 33px;
  outline: 0;

  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}

.sort-by:focus {
  color: #81b3d2;
  border-bottom: 0;
  outline: 0;
}

.sort-by:active {
  color: #000000;
  border-bottom: 0;
}

.icon-dir {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-dir li {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 12px;
}

.icon-up-down-dir svg {
  fill: #cacaca;
}

.icon-up-down-dir:hover svg {
  fill: #000000;
}

.icon-up-down-dir:active svg {
  fill: #81b3d2;
}

.icon-up-down-dir:focus svg {
  fill: #81b3d2;
}

.preview {
  display: block;
  min-width: 135px;
  min-height: 90px;
  padding: 0;
  margin: 0;
  border: 0;
}

.hotel-info {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  margin-left: 30px;

  font-weight: 400;
  height: 1px;
}

.hotel-info h3,
.hotel-info p {
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
  margin-top: -5px;
}

.hotel-info p {
  line-height: 21px;
}

.type-price p {
  text-align: left;
  margin-right: 6px;
  width: 110px;
}

.type-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.button-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hotel-rating {
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  font-weight: 400;
  padding: 0;
  margin: 0;
  height: 1px;
}

.active {
  color: #81b3d2;
  border-bottom: 0;
}

.active svg {
  fill: #81b3d2;
}