body {
	background-color: #f2f2f2;
}
.wrapper {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  
  background: url("../img/background-photo.jpg") no-repeat top;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-inner-page {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-navigation {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	margin-bottom: 76px;

	background-color: #ffffff;
}

.site-navigation {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-navigation a {
	display: block;
	color: #000000;
	vertical-align: middle;
	
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:active {
  color: #000000;
  opacity: .3;
}


.main-header-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);		
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 79px;

	background: url("../img/polygon.svg") no-repeat bottom;
}

.welcome-title {
	display: flex;
	justify-content: space-around;
}

.sedona-reasons {
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	text-align: center;

	background-color: #ffffff;
}

.sedona {
	font-size: 21px;
	margin: 0;	
	margin-bottom: 31px;
}

.five-reasons {
	color: #333333;
	font-weight: 400;
	margin: 0;	
	margin-bottom: 50px;
}

.reasons {
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
}

.reasons-list {
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap;
	margin: 0;
	padding: 0;


	list-style: none;
}

.reasons-list h3,
.recommendations-list h3 {
  font-size: 21px;
  font-weight: 700;
}

.reason-1,
.reason-2 {
	color: #ffffff;
	background-color: #81b3d2;	
}

.recommendations-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;	
	padding-bottom: 55px;

	color: #000000;
	background-color: #ffffff;

	list-style: none;
}

.recommendation {
	display: flex;
	flex-direction: column;
	margin-top: 164px;

	width: 304px;
	padding-left: 48px;
	padding-right: 48px;

	
}

.recommendation p {
	margin: 0;
	padding: 0;
}

.recommendation h3 {
	position: relative;
}

.recommendation-1 h3::before {
	content: "";
	position: absolute;
	top: -107px;
	left: 114px;

	width: 74px;
	height: 76px;
	background-color: #ffffff;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.recommendation-2 h3::before {
	content: "";
	position: absolute;
	top: -103px;
	left: 114px;

	width: 74px;
	height: 76px;
	background-color: #ffffff;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.recommendation-3 h3::before {
	content: "";
	position: absolute;
	top: -103px;
	left: 114px;

	width: 74px;
	height: 76px;
	background-color: #ffffff;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

.reason-3,
.reason-4,
.reason-5 {
	background-color: #eeeeee;
	padding: 48px;
}








.search-hotels-in-sedona,
.button-reservation {
	

	font-size: 21px;
  	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;

	color: #ffffff;
	background-color: #766357;
}

.button-reservation {
	font-size: 14px;
}

.search-hotels-in-sedona:hover,
.button-reservation:hover {
  	background-color: #604e43;
}

.search-hotels-in-sedona:active,
.button-reservation:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
  }

label,
input {
	font-weight: 700;
	color: #000000;
 }

 input {
 	background-color: #f2f2f2;
 }

input:hover {
 	background-color: #ebebeb;
 }

 input:focus {
 	background-color: #ffffff;
 	border: 1px solid #e5e5e5;
 }

.button-search {
	font-size: 21px;
  	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;

	color: #ffffff;
	background-color: #81b3d2;
}

.polygon {
	width: 10%;
	height: 10%;
}

.button-search:hover {
	background-color: #669ec0;
}

.button-search:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.interested {
	font-size: 30px;
  	line-height: 36px;
  	font-weight: 700;
}

.main-footer {
  color: #000000;

  background-position: bottom center;
  background-repeat: no-repeat;
}

.social-button {
	text-decoration: none;
	}

.footer-social {
	list-style: none;
}


.button-more {
  color: #ffffff;
  background-color: #81b3d2;

}

.social-button:hover,
.button-more:hover {
  color: #669ec0;
}

.social-button:active,
.button-more:active {
	color: #5496bd;
  color: #5496bd;
  }

 .hotels-name p {
 	color: #333333;
 }

 .hotels-name,
 .visitsedona {
 	font-size: 21px;
  	line-height: 26px;
 	font-weight: 700;

 	color: #000000;
 }

 .hotels-name:hover {
 	color: #81b3d2;
 }

.hotels-name:active {
 	color: rgba(0,0,0,0.3);
 }

 .footer-copyright {
 	font-size: 14px;
  	line-height: 26px;
 	font-weight: 400;
 }

 .rating {
 	background-color: #f2f2f2;
 	color: #666666;
 }

 .star {
 	display: flex;
 	justify-content: flex-end;
 	height: 17px;
 	background: url("../img/star.svg") repeat;
 }

 .two-star {
 	width: 36px;
 }

 .three-star {
 	width: 54px;
 }

 .four-star {
 	width: 72px;
 }
 
h1,
h2 {
	margin: 0;
	padding: 0;
}




 
.reason-3,
.reason-4,
.reason-5 {
	width: 304px;
	height: 166px;	
}



.search {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

.interested-block {
	margin: 0 auto;
	text-align: center;
	margin-top: 56px;
}

.interested {
	margin: 0;
	padding-bottom: 30px;
	
}

.date {
	padding-bottom: 50px;
}

.search-hotels-in-sedona {
	width: 568px;
	padding-bottom: 33px;
	padding-top: 33px;
	border: 0;
}

.form-wrapper {
	display: flex;
	margin: 0 auto;	
}


.search-hotels {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	

	width: 458px;
	padding: 55px;
	
}



.input-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

input {
	
	width: 333px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 0;
	padding-left: 12px;
	

	margin-bottom: 20px;
	/*background-image: url("../img/calendar.svg");	*/
}

.calendar {
	position: absolute;
	right: 9px;
	top: 8px;
	fill: #cacaca;
	 
}

.calendar:hover {
	fill: #000000;
	 
}

.calendar:active {
	fill: #81b3d2;
	 
}



.namber-of {
	display: block;
	text-align: center;
	padding:0;
	width: 38px;
	height: 38px;

}

.button-plus,
.button-minus {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	border: 0;
	width: 38px;
	background-color: #f2f2f2;
}

.button-plus {
	font-size: 26px;
	color: #a9a9a9;

}

.button-minus {

	font-size: 30px;
	color: #a9a9a9;
}



label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-right: 21px;
	margin-bottom: 20px;
	

	
}

.adults-label,
.children-label {
	margin-bottom: 0;
}

.namber-wrap {
	display: flex;
	flex-direction: row;
	height: 40px;
}

.number-adults,
.number-children {
	display: flex;
	flex-direction: row;
	width: 114px;
	height: 38px;
	margin: 0;
	padding: 0;
	margin-right: 53px; 
}

.number-children {
	margin-right: 0;
}

.number-adults {
	margin-left: 20px;
}


.button-search {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 58px;
	border: 0;
	padding: 0;
	margin: 0;

	margin-top: 54px;
	
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1056px;
	margin-top: 185px;
	padding-bottom: 36px;

}

.container-inner-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1056px;
	margin-top: 50px;
}
.visitsedona {
	width: 240px;
	text-align: center;
}



.footer-copyright {
	width: 240px;
	margin: 0;
	padding: 0;
}

.hotels-container {
	width: 1056px;
	margin: 0 auto;
}

.hotels-list {
	display: flex;
	flex-direction: column;
	list-style: none;

	margin: 0;
	padding: 0;visitsedona
}

.hotel-wrapper {
	display: flex;
	margin: 0 auto;
	border-bottom: solid 1px #e5e5e5;
}

.preview {
	width: 135px;
	height: 90px;
}

.button-more {
	width: 110px;
	height: 27px;
	margin: 0;
	border: 0;
	text-align: center;
}

.button-reservation {
	width: 142px;
	height: 27px;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 112px;
	height: 28px;
	
}

img {
  max-width: 100%;
  
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  
  

  margin: 0;
  padding: 0;
}


.site-navigation {
  margin-left: 72px;
  margin-right: 72px;
}

.site-navigation li {
	display: flex;
	width: 25%;
	
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	justify-content: flex-end;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-wrapper {
	background: url("../img/filter-background.jpg") no-repeat center;
}

.reason-1,
.reason-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;
	

}

.reason-wrapper {
	width: 304px;
	padding-top: 46px;
	padding-left: 48px;
	padding-right: 48px;
}

.reason-1 h3,
.reason-2 h3,
.reason-3 h3,
.reason-4 h3,
.reason-5 h3 {
	
	
	margin: 0;
	padding: 0;

	padding-bottom: 24px;
}

.reason-1 h3,
.reason-2 h3,
.reason-1 p,
.reason-2 p
 {
	color: #ffffff;
}

.reason-1 p,
.reason-2 p,
.reason-3 p,
.reason-4 p,
.reason-5 p {
	
	margin: 0;
	padding: 0;

	padding-bottom: 24px;
}
.reason-1 img,
.reason-2 img {
	width: 800px;
	height: 256px;
}

.hotel-wrapper {
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

a {
	padding: 0;
	margin: 0;
}

.preview {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	margin-right: 30px;
}

.hotel-info {
	height: 90px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	
	padding: 0;
	margin: 0;
	
}


.hotel-info h3 {
	padding: 0;
	margin: 0;
}

.type-price p {
	padding: 0;
	margin: 0;
	text-align: left;
	margin-right: 6px;
	width: 110px;
}

.type-price,
.button-block {
	display: flex;
	flex-direction: row;
}

.button-more {
	width: 110px;
	padding: 0;
	margin: 0;
	margin-right: 6px;
}

.hotel-rating {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	

	padding: 0;
	margin: 0;

}



ul {
	padding: 0;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	
	margin: 0;
	padding: 0;

	

	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}


.social-button:focus path {
  fill: #88b6d1;
}



.footer-copyright p {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 8px;
  
 }

.footer-copyright img {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}  

.footer-copyright svg {
  fill: #231f20;
}

.footer-copyright svg:hover {
  fill: #81b3d2;
}

.footer-copyright svg:active {
  fill: #bdbbbc;
}





.footer-copyright {
	display: flex;
	flex-direction: row;

	
}

















